{# templates/product/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block css %}{{ include('product/_form_style.html.twig') }}{% endblock %}

{% block title %}Edit {{ form.vars.data.name }}{% endblock %}
{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb pl-0  mb-0">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('product_list') }}">Products</a></li>
            <li class="breadcrumb-item active">{{ form.vars.data.name }}</li>
        </ol>
    </nav>
{% endblock %}
{% block body %}
    <div>
        <h1>Edit {{ form.vars.data.name }}</h1>
        {{ include('product/_form.html.twig', { 'form': form }) }}
    </div>
{% endblock %}

{% block js %}
    {{ include('product/_form_scripts.html.twig') }}
{% endblock %}